{% extends "base.html" %}
{% load i18n %}
{% load allauth account %}

{% block head_title %}
    {% trans "Correo Enviado" %}
{% endblock head_title %}

{% block content %}
    <div class="reset-done-container">
        <div class="content-wrapper">
            <!-- Título principal -->
            <h1 class="login-title">
                {% trans "Correo Enviado" %}
            </h1>

            <!-- Mensaje de confirmación -->
            <p class="login-subtitle">
                {% blocktranslate %}
                    Te hemos enviado un enlace para restablecer tu contraseña por correo electrónico. Por favor, revisa tu bandeja de entrada (y la carpeta de spam si no lo ves).
                {% endblocktranslate %}
            </p>

            <!-- Enlace de regreso -->
            <div class="form-group text-center">
                <a href="{% url 'account_login' %}" class="btn-login">
                    {% trans "Volver al Inicio de Sesión" %}
                </a>
            </div>
        </div>
    </div>
{% endblock content %}