{% extends "base.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Registrarse" %}
{% endblock head_title %}

{% block content %}
    <div class="signup-container">
        {% element h1 class="signup-title" %}
            {% trans "Crear una Cuenta" %}
        {% endelement %}
        {% element p class="signup-subtitle" %}
            {% blocktranslate %}¿Ya tienes una cuenta? Entonces por favor <a href="{{ login_url }}">inicia sesión</a>.{% endblocktranslate %}
        {% endelement %}
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_signup' as action_url %}
            {% element form form=form method="post" action=action_url tags="entrance,signup" class="signup-form" %}
                {% slot body %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}" class="form-label">{% trans "Correo Electrónico" %}</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}" class="form-label">{% trans "Usuario" %}</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}" class="form-label">{% trans "Contraseña" %}</label>
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}" class="form-label">{% trans "Confirmar Contraseña" %}</label>
                        {{ form.password2 }}
                    </div>
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    {% element button tags="prominent,signup" type="submit" class="btn-signup" %}
                        {% trans "Registrarse" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% endif %}
        {% if PASSKEY_SIGNUP_ENABLED %}
            {% element hr %}
            {% endelement %}
            {% element button href=signup_by_passkey_url class="btn-signup-outline" tags="prominent,signup,outline,primary" %}
                {% trans "Registrarse con una passkey" %}
            {% endelement %}
        {% endif %}
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}