{% extends "payments/base.html" %}
{% load static %}

{% block title %}Pago con PayPal{% endblock %}


{% block blurred_card %}
    <header class="mb-6 text-center">
      <h1 class="text-3xl font-bold">Pague con</h1>
    </header>

    <div id="paypal-button-container" class="mb-4"></div>

    <p id="result-message" class="text-sm text-center mt-4"></p>

  </div>

  <!-- PayPal SDK -->
  <script
    src="https://www.paypal.com/sdk/js?client-id=test&buyer-country=US&currency=USD&components=buttons&enable-funding=venmo,paylater,card"
    data-sdk-integration-source="developer-studio"
    data-popups-disabled="true"> 
    
  </script>

  <!-- Tu script JS -->
  <script src="{% static 'payments/js/app.js' %}"></script>
{% endblock %}






