{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Restablecer contraseña" %}{% endblock %}

{% block content %}
<div class="container-form">
  <div class="formulario">
    <h2 class="create-account">{% trans "Restablecer contraseña" %}</h2>
    <p class="text-center text-gray-600">Ingresa tu correo o usuario y define una nueva contraseña.</p>

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        {{ form.identifier.label_tag }}
        {{ form.identifier }}
        {{ form.identifier.errors }}
      </div>

      <div class="form-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {{ form.new_password1.errors }}
      </div>

      <div class="form-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
      </div>

      <button type="submit" class="btn-login">{% trans "Cambiar contraseña" %}</button>
    </form>
  </div>
</div>
{% endblock %}